body {
  margin: 0;
}

body.dimmed {
  background-color: rgba(110, 110, 110, 0.334);
}

.open-modal-button {
  background-color: #4a4be9;
  color: white;
  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 10px;
  font-size: 24px;
  position: fixed;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal {
  width: 350px;
  padding: 20px 15px 40px 15px;
  border-radius: 3px;
  text-align: center;
  height: 115px;
  background-color: white;
}

.no-button {
  background-color: #eb5d5d;
  border: 0;
  color: white;
  border-radius: 4px;
  width: 80px;
  height: 35px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.modal-cont {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-modal-button.dimmer {
  opacity: 0.3;
}
