body {
  margin: 0;
}

.body.off {
  background-color: #121212;
}

.body.on {
  background-color: #fef9f1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0;
}

.switch.off {
  background-color: #252526;
  box-shadow: 0 -15px #0d0d0d;
}

.switch.on {
  background-color: #faea84;
  box-shadow: 0 -15px #fef4cb;
}
